/*start of nav bar styling*/
#bar *{
    /* border: white solid 1px; */
}
#bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    padding: 0 2vw;
    background: #350036; /*Dark Mardi Gras*/
    color: #FFF;
    font-size: 1.15rem;
}
.logo {
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: 5vw;
}
.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    width: 60vw
}
.links span{
    cursor: pointer;
}
.settings {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: inherit;
    width: 10vw;
}
.settings span{
    cursor: pointer;
}
.burger {
    cursor: pointer;
}
.burger div {
    height: 2px;
    width: 30px;
    background: #FFF;
    margin: 3px;
}
/*end of nav bar styling*/
