.Gallery {
    max-height: 82vh;
    min-height: 25vh;
    position: relative;
    overflow-y: auto;
  }

.galery-thumbnail {
  border-color: #020202 !important;
  box-shadow: 100 100 100px #030303 !important;
}