.Gallery {
    max-height: 82vh;
    min-height: 25vh;
    position: relative;
    overflow-y: auto;
  }

.galery-thumbnail {
  border-color: #5cb1f6 !important;
  box-shadow: 50 50 50px #1f98fa !important;
}