#PreloginMap{
    position: relative;
    background-image: url(./map_grey.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 30px !important;
    height: 80vh;
}



.preloginMessage{
    position: relative !important;
}