.loginMessage {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background:  #acdbd4; 
}
.logInMsg-nav-text .logInMsg-nav-text:hover, .logInMsg-nav-text:visited, .logInMsg-nav-text:active{
    color: black !important;
    text-decoration: none;
  }

.warning-borader {
    /* border-top: 0.1em solid black;  */
    /* border-bottom: 0.1em solid white;  */
   }