.login{
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 90%;
    border-color: black;
    border-width: 2px;
    margin: 2em;
}
#regoLink:hover{
    color: blue;
}
#passLink:hover{
    color: blue;
}
#passLink{
    margin-left: 1em;
}
.notRego{
    font-size: small;
    margin-left: 1em;
}
.login-form{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.login-email{
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.login-password{
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.login-button{
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.login-button:hover{
    background-color: rgb(54, 53, 53);
}