.content {
    /* overflow-y: hidden;
    overflow-x: hidden; */
    margin-top: 60px;
    /*height: 100vh;*/
    /* IMPORTANT for this to match footer and nav bar heights (which need to be fixed!) */
    min-height: calc(100vh - 130px);
}

.pictureBackground{
    background-image: url(./images/more_opaque_background_large.png);
    background-size: 3500px;
    background-position: center;
}

.whiteBackground{
    background-color: white;
}

/*the webkit related style is needed to override cromes auto fill colour scheme*/
/*https://stackoverflow.com/a/14205976*/
/* Change the white to any color */
input[fill_color_override="true"]:-webkit-autofill,
input[fill_color_override="true"]:-webkit-autofill:hover,
input[fill_color_override="true"]:-webkit-autofill:focus,
input[fill_color_override="true"]:-webkit-autofill:active 
{
    box-shadow:0 0 0 30px white inset !important;
 -webkit-box-shadow: 0 0 0 30px white inset !important;
 -webkit-text-fill-color: black !important;
}

/*the webkit related style is needed to override cromes auto fill colour scheme*/
/*https://stackoverflow.com/a/14205976*/
/* Change the white to any color */
input.whiteBackground:-webkit-autofill,
input.whiteBackground:-webkit-autofill:hover,
input.whiteBackground:-webkit-autofill:focus,
input.whiteBackground:-webkit-autofill:active
{
    box-shadow:0 0 0 30px white inset !important;
 -webkit-box-shadow: 0 0 0 30px white inset !important;
 -webkit-text-fill-color: black !important;
}

/*the webkit related style is needed to override cromes auto fill colour scheme*/
/*https://stackoverflow.com/a/14205976*/
/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
    box-shadow:0 0 0 30px black inset !important;
 -webkit-box-shadow: 0 0 0 30px black inset !important;
 -webkit-text-fill-color: white !important;
}

/*Change text in autofill textbox*/
/* #Email, #Password > input:-webkit-autofill
{
 -webkit-text-fill-color: white !important;
} */

#Email, #Password {
    background-color: black !important;
    color: white !important;
}