.chartwrapper {
    width: 100%;
    margin-top: -30px;
    position: relative;
    padding-bottom: 50%;
    box-sizing: border-box;
    text-align: center;
  }
  
.chartdiv {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 91vh;
    background: white;
  }

.tooltip_wrrapper{
    position: static;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: .7em;
    border-style: solid;
    border-radius: 10%;
    border-color: #18a9c0 !important;
    background-color: white;
    padding: 5%;
}

.tooltip-menu{
    /* height: 50%;
    width: 50%; */
}

.tooltip-menu-countryName{
    color: black !important;
}

.tooltip-menu-icons-container{
    height: 30px;
    width: 170px;
}

.tooltip-menu-icons-container-small{
    height: 30px;
    width: 80px;
}

.tooltip-menu-icons{
    padding: 2%;
    float:left;
}

.tooltip-menu-text{
    color: black !important;
    float:left;
    text-align: left;
    padding-right: 3%;
}